<!DOCTYPE html>
<html>
    <head>
        <title>smoran.dev</title>
        <%- include('../partials/head.ejs') %>
    </head>
    <body class="">
        <div class="flex flex-col  justify-center space-y-6">
            <div class="m-16 flex flex-col items-center">
                <h1 class="text-header">Welcome to my site!</h1>
                <h3 class="text-primary text-lg">I'm Sam. I'm a senior studying Computer Science at Worcester Polytechnic Institute.</h3>
                <div class="flex flex-col items-start my-4 text-primary">
                    <p>I built this website as part of the Digitalocean/DEV hackathon to improve my
                        web development skills and create a portfolio to show off some of my project work. Take a look around!
                    </p>
                    <p>
                        If you're interested, go check out my blog post that goes into more detail about the process of creating this site. You can find that <a href="https://dev.to/sdmoran/personal-website-on-digitalocean-app-platform-1ea0" class="text-blue-500">here.</a>
                    </p>
                </div>
               
            </div>
            <!-- Projects -->
            <div class="flex flex-col items-center space-y-6">
                <div class="flex flex-col items-center">
                    <h1 class="text-header">Projects</h1>
                    <p class="text-primary">Here are some projects that I've worked on in the past. Check them out!</p>
                </div>

                <div class="flex flex-row justify-center space-x-20 w-4/5" >
                    <% for(let i = 0; i < 3; i++) { %>
                        <% project = projects[i] %>
                        <div class="flex flex-col rounded-lg bg-gradient-to-l hover:from-pink-400 hover:to-amber-300 from-blue-400 to-green-400 border-b-2 border-red-600 shadow-kg mousepoint" onclick="location.href='/projects/<%= project.name %>'">
                            <a href="/projects/<%= project.name %>" class="flex">
                                <% image = project.images[0] ? project.images[0] : "https://s3.us-east-2.amazonaws.com/smoran.dev-media/images/placeholder.png" %>
                                <img alt="Placeholder" class="rounded-md mx-auto object-fit max-h-96" src="<%= image %>">
                            </a>

                            <div class="flex items-center justify-between leading-tight p-2 md:p-4">
                                <div>
                                    <h1 class="text-lg">
                                        <a class="no-underline hover:underline text-black" href="/projects/<%= project.name%>">
                                            <%= project.name %>
                                        </a>
                                    </h1>
                                    <p class="text-gray-700"><%= project.blurb %></p>
                                </div>
                            </div>
                        </div>
                    <% }%>
                </div>
            </div>
        </div>
    </body>
</html>
